<!doctype html>
<html>
<head>
	<title>HappyBoba</title>
<meta charset="UTF-8">

<link href="/style.css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
{{#each jsscripts}}
    <script src="/static/{{this}}"></script>
{{/each}}
</head>
<body>
	{{{body}}}
</body>
</html>