<!doctype html>
<html>
<head>
	<title>HappyBoba</title>
<meta charset="UTF-8">

<link href="/style.css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
	{{{body}}}
</body>
</html>